export(buildMonograph, collectorList, examinedSpecimens, interactiveKey, interactiveKeyLabels, mapBatch, mapDiversity, mapPhenology, mapTable, phenoHist, tableToDescription)

import(maptools, raster)

importFrom("circular", "axis.circular", "circular", "rose.diag")
importFrom("grDevices", "dev.off", "gray.colors", "heat.colors", "terrain.colors", "jpeg", "pdf", "png", "tiff")
importFrom("graphics", "box", "par", "rasterImage", "rect", "title")
importFrom("png", "readPNG")
importFrom("rmarkdown", "html_vignette", "word_document", "render")
importFrom("stats", "na.omit")
importFrom("utils", "write.csv")
importFrom("sp", "coordinates<-", "over", "plot", "proj4string", "proj4string<-")